h1{
    color:green;
    width:300px; /* Kam nurodytas width jei jį nuėmus niekas nepasikeičia? */
    padding:0 0 0 40%; /* Kodėl ne sucentruota? Ir geriau naudok margin*/
    }

/* Daryk tarpus tarp selectoriu, taip lengviau suprasti ir skaityti kodą. Paspaudus ctrl + alt + l automatiškai padaro tarpus */
img{
    width:300px;
    }

h2{
    text-decoration-line:underline;
    }

.general{
    font-style:italic; /* Šitas nieko nedaro nes tekstui naudoji i element'ą kuris automatiškai tekstą paverčia italic. Gali pabandyti nusiimti ir niekas nepasikeis*/
    margin:0 0 15px 25px;
    font-size:20px;
    }

.icons{
    width:25px
    }

.line{
    background:green;
    height:100%;
    border-left:3px red solid;
    position:absolute;
    left:22%;
    }
